.App {
  background-color: #282c34;
  height: 100vh;
}

.App form {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 50px;
}

.App form input {
  flex: 1;
}

.App form button {
  width: 200px;
}

.messagelist {
  margin: 0;
  padding: 0;
  color: #fff;
  list-style-type: none;
  font-size: 14px;
}

.messagelist li {
  display: flex;
  align-items: center;
  height: 50px;
  padding-left: 10px;
  border-bottom: 1px solid #e8e8e8;
}

.messagelist div {
  margin-right: 20px;
}

.messagelist div:first-of-type,
.messagelist div:first-of-type + div {
  font-weight: bold;
}
